<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music Homepage</title>
</head>
<body>
<h3>Here are all my Albums</h3>

{% if all_albums %}
    <ul>
        {% for album in all_albums %}
        <!-- <li><a href="/music/{{ album.id }}">{{ album.album_title }}</a></li> -->
            <!-- OR -->
        <li><a href="{% url 'detail' album.id %}">{{ album.album_title }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <h3>You dont have any album</h3>
{% endif %}
</body>
</html>