<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
    <style>
        table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
    </style>
</head>
<body>

    <img src="{{ album_logo }}" height="250" width="250">

    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}

    {% if all_songs %}

    <h1>Songs present in {{ album_title }} </h1>

    <form action="{% url 'music:favourite' album.id %}" method="post">

    {% csrf_token %}

    <table>
        <tr>
        <th>Choose</th>
        <th>Favourite</th>
        <th>ID</th>
        <th>Title</th>
        <th>File Type</th>
        </tr>

        {% for songs in all_songs %}
        <tr>
        <td><input type="radio" name="song" value="{{ songs.id }}"></td>
        {% if songs.is_favourite %}
            <td>YES</td>
        {% else %}
            <td>NO</td>
        {% endif %}
        <td>{{ songs.id }}</td>
        <td>{{ songs.song_title }}</td>
        <td>{{ songs.file_type }}</td>
    </tr>
    {% endfor %}

    </table>

    <input type="submit" value="Favourite" >

    </form>

    {% else %}
    <h2>No Songs Present</h2>
    {% endif %}

</body>
</html>